// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

hr.fc-divider {
  border-bottom-color: lightgray;
}
.demo-app-calendar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html,
body {
  overflow: hidden;
}

a.fc-event {
  background-color: #0091ce;
  color: white;
  border-color: #0079a5;
}

div.fc-content {
  background-color: #0091ce;
  color: white;
  border-color: #0079a5;
}

th.fc-day-header {
  background-color: #0091ce;
  color: white;
}

td.fc-axis {
  color: #0091ce;
}
