// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

hr.fc-divider {
  border-bottom-color: lightgray;
}
.demo-app-calendar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert-info {
  background-color: #f8fdff;
}

html,
body {
  overflow: hidden;
}

th.fc-day-header {
  background-color: #f5f5f5;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;

  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
}

td.fc-axis {
  color: #0091ce;
}

.tippy-popper[x-out-of-boundaries] {
  visibility: hidden !important;
}
