body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
}

.form-control:focus {
  border-color: #0091ce;
  box-shadow: none;
}

.form-control-sm {
  height: 26px;
}
div.form-group {
  margin-bottom: 0.3rem;
}
div.form-group small {
  margin-top: 0;
}
div.form-group label {
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #7e7e7e;
  font-size: 12px;
}
div.invalid-feedback {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

div.form-group span.schema {
  margin-bottom: 0px;
  padding-top: 5px;
  color: #7e7e7e;
  font-size: 12px;
}

span.config-headers {
  color: #0091ce;
  font-weight: 500;
}
span.config-headers-lg {
  font-size: larger;
}

.menuHeader {
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 13px;
}

.containerTop {
  width: 180px;
  position: relative;
}

.containerTop.border {
  border: 1px solid #ccc;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
